
<div>
  <%= erb :nav_bar %>
</div>


<div class = "page_wrap">

<div class = "left_column">
  <div class="name_box">
    <h2>Hi <%= @user.full_name %>!</h2>
    <img src=<%="#{@image_src}" << "?d=http://i.imgur.com/tlOPBv9.jpg" << "?s=120"%>><br><br>
  </div>
  <div class ="followee_column">

    <% if @followees %>
    <h2>Following...</h2>
    <% @followees.each do |followee| %>
      <div class ="followee_box">
      <p><a href="/profile/<%= followee.id %>"><%= followee.full_name %></a></p>
          <form action="/dashboard/<%= @user.id %>/unfollow/<%= followee.id %>" method="post"><input type="submit" value="Unfollow Me!">
        </form>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

  <div class ="blah_feed">
    <h2>Blah Wall...</h2>
    <br>
    <div class="container">
      <%= erb :blah_input %>
    </div>
    <% @sorted_blahs.each do |blah| %>
      <div class ="blah_post">
        <p><%= blah.content %></p>
        <% @blah_user = User.find(blah.user_id) %>
        <p>posted by <%= @blah_user.full_name %> at <%= blah.created_at %></p>
      </div>
    <% end %>
  </div>

  <div class ="right_column">
    <%= erb :potentialfollowee %>
  </div>

</div>

