<div>
  <%= erb :nav_bar %>
</div>

<div class = "page_wrap">

<div class = "left_column">
  <div class="name_box">
    <h2><%= @user.full_name %></h2>
    <img src=<%="#{@image_src}" << "?d=http://i.imgur.com/tlOPBv9.jpg" %>><br><br>
  </div>
  <% if session[:user_id] == @user.id %>
  <% end %>


  <div class="followee_column">
      <p>About Me</p>

      <p>
        <%= @user.about_me %>
      </p>
    <br><br>
    <% if session[:user_id] == @user.id %>
      <form action="/profile/<%= @user.id %>/edit" method="post">
        <input type="text" name="about_me" placeholder="Edit About Me"><br>
        <input type="submit" value="Edit">
      </form>
    <% end %>
  </div>
</div>


   <div class="blah_feed">
    <p>
      <h3>Blah Wall...</h3>
      <br>
      <% if session[:user_id] == @user.id %>
        <div class="container">
          <%= erb :blah_input %>
        </div>
      <% end %>
      <% if @user.blahs %>
        <% @user.blahs.order(created_at: :desc).each do |blah| %>
          <%= blah.content %><br>
          <p>posted by <%= @user.full_name %> at <%= blah.created_at %></p>
          <% if session[:user_id] == @user.id %>
            <p><a href="/profile/<%= blah.id %>/delete_blah">Delete</a></p>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>

  <% if session[:user_id] == @user.id %>
    <div class="right_column">
      <%= erb :potentialfollowee %>
    </div>
  <% end %>


</div>
